body
{
    background-image: url(http://365psd.ru/images/backgrounds/bg-lightl-902.jpg)!important;background-attachment: scroll;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 100%;
    color: #384650;
}

table
{
    margin-top: 10px;
    margin-bottom: 30px;
    border-collapse: collapse;
}

td
{
    padding: 3px;
    border: 1px solid black;
    background-color: #F0F0F0;
}

.lesson
{
    background-color: #E0E0E0;
}

.day
{
    color: #c4122e;
    border:0;
    font-size: 18px;
    padding-top: 5px;
}

.group_name
{
    font-size: 25px;
}

.btnBack {
    border: 1px solid #333;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 15px;
    text-decoration: none;
}
.btnBack:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    /*     color: #a00; */
}

td{
    vertical-align: middle;
}
.time_lesson{
    width: 20%;
    text-align: center;
}
.lesson{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}
body{
    background: #e8e8e8;
    width: 50%;
    margin: 0 auto;
}
.day{
    //background: #9EFCD1;
    text-align: center;
}
A{
    text-decoration: none;
    color:black;
}
h1{
    text-align: center;
}
.group_name{

}

