body{
    margin-left:20%;
    background: #EEEEEE;
    font-family: 'Comfortaa', cursive;
}
.course{

}
.group{
    display: inline-flex;
    margin-left: 2%;
}
h1, h2{
    margin-top: 20px;
    margin-bottom: 10px;
}
h3{
    margin-top: 2%;
    margin-bottom: 2%;
}
span{
    font-size: 20px;
    margin-top:0;
    font-style: italic;
}
.logo{
    text-align: left;

}
A{
    color:green;
    text-decoration: none;
}
A:visited{
    color:#C7841F;
}
.btnBack1 {
    border: 1px solid #333;
    width: 150px;
    padding: 5px 15px;
    text-decoration: none;
}
.btnBack1:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background: linear-gradient(to bottom, #fcfff4, #e9e9ce);
    /*     color: #a00; */
}

.btnBack1{
    font-size: 20px;
}