<!DOCTYPE html>
<html ng-app = "rasp">
<head>
	<title>Группы Физмата</title>
    <meta charset="UTF-8">
    <script src = "../js/angular.min.js"></script>
    <script src = "../js/app.js"></script>    
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <style type="text/css">
        body{
            margin-left:20%;
            background: #EEEEEE;
            font-size: 100%;        
            font-family: 'Comfortaa', cursive;

        }
        .test2{            
            display: inline-flex;
            margin-left: 2%;            
        }
        .test1{
            flex-direction: row;  

        }
        h1, h2{        
           margin-top: 20px;
           margin-bottom: 10px;
        }

        h3{
        	margin-top: 2%;
        	margin-bottom: 2%; 
        }
        span{
            font-size: 20px;
            margin-top:0; 
            font-style: italic;
        }
        .logo{
            text-align: left; 

        }
        A{
            color:green;            
            text-decoration: none;
        }
        A:visited{
            color:#C7841F;
        }
        
        .btnBack{            
            font-size: 20px;
            font-style: bold;
        }
    </style>
</head>
<body ng-controller = "groupController as groupObj">
<div class = "logo">
    <h1>Расписание занятий</h1>
    <span >Физико-математического факультета</span>
</div>
<div class = "test1" ng-repeat = "data in groupObj.courses">
    <h2>{{data.course}} КУРС</h2>    
    <div class = "test2" ng-repeat = "group in data.groups">
       <h3> <a href = "{{data.course}}/{{group.groupId}}/index.html">{{group.name}}</a></h3>
    </div>
    <br>
</div>
<br>
<div class = "btnBack">
<a href = "../" >НА ГЛАВНУЮ</a>
</body>
</html>