<!DOCTYPE html>
<html ng-app="rasp">
<head>
	<title>Расписание БрГу</title>
	<script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta charset="utf-8">
</head>
<body ng-controller = "facultyController as faculty">
	<div class = "logo">
	<h1>РАСПИСАНИЕ ЗАНЯТИЙ БрГУ</h1>
	</div>
	<div class = "start">
		<div class = "startMenu" ng-repeat = "record in faculty.records">				
			<a href = "{{record.link + '/index.html'}}"><img ng-src="{{'images/' + record.link + '.jpg'}}" title = "{{record.title}}"></a>
		</div>
	</div>
</body>
</html>